<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a Founding Growth Engineer and #2 at
      <a class="underline-link" href="https://mintlify.com/" target="_blank">Mintlify</a>, a startup powering effortless developer-first documentation backed by Bain Capital. Previously, I was the first growth hire at 
      <a class="underline-link" href="https://www.getmagical.com/" target="_blank">Magical</a>, where I helped the company grow to 600,000 users, improved activation funnels and doubled referral rates.
    </p>

    <p>
      Though I'm an engineer by trade, I'm passionate about bottoms-up and consumer companies with interesting growth playbooks. I derive meaning from meeting cool people, pursuing non-tech passion projects, and seeing the world. I thrive wearing many hats, &amp; always looking to get in on something crazy. 
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably flying my drone around, trying a new recipe,
      or crossing off another item on my bucket list.
    </p>
    <p>
      <strong>Currently:</strong>
      <br>&#128293 Hosting grill & chills and speakeasy nights
      <br>&#128640 Living bicoastal between NYC and SF
      <br>&#127865 Learning how to create dope cocktails
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
