<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a Growth Engineer at
      <a class="underline-link" href="https://getmagical.com/" target="_blank">Magical</a>, a startup automating soul-crushing tasks backed by Coatue, Greylock and Bain Capital. I recently graduated from
      <a class="underline-link" href="https://www.cs.duke.edu/" target="_blank">Duke University</a> (Class of 2021) after completing three awesome internships at 
      <a class="underline-link" href="https://www.facebook.com/" target="_blank">Facebook</a> and
      <a class="underline-link" href="https://www.ge.com/digital" target="_blank">GE Digital</a> learning across frontend, infrastructure, and network engineering.
    </p>

    <p>
      Though I'm an engineer by trade, I derive meaning from meeting cool people, pursuing non-tech passion projects, and seeing the world. I'm fascinated by applications and impacts of tech, thrive when wearing many hats, &amp; always looking to get in on something crazy. 
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably flying my drone around, trying a new recipe,
      or crossing off another item on my bucket list.
    </p>
    <p>
      <strong>Currently working on:</strong>
      <br>&#128293 Sharing knowledge in podcast form
      <br>&#128640 Moving to the UK or Australia
      <br>&#127865 Opening up a themed speakeasy
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
