<header class="intro">
  <div class="float-container">
    <div class="float-child" style="width: 70%;float: left;padding: 20px;">
  <h1 class="intro__hello">Hello!
    <span class="emoji wave-hand animated"></span>
  </h1>

  <h2 class="intro__tagline">I'm
    <span class="name">Kate Chen</span>, an entrepreneur, adventurer &amp; engineer. I'm passionate about diversity in tech &amp; consumer products with global impact. 
    <span class="emoji technologist"></span>
  </h2>

  <h3 class="intro__contact">
    <span>Get in touch </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="mailto:kathleenzchen@gmail.com" target="_blank" class="highlight-link">kathleenzchen@gmail.com</a>
    </span>
  </h3>
</div>
<div class="float-child" style="width: 30%;float: left;padding: 20px;">
  <img src="./img/headshot.jpg" style="object-fit: cover;border-radius: 50%;margin-top: 15%;" class="rounded" />
</div>
</div>
</header>

